---
layout: default
---


{%- include header.html scrolly_nav=_posts -%}

<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  <div id="main">
    {%- if page.content != "" -%}
      {%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
    {%- endif -%}
    <!-- Posts List -->
    {%- for post in site.categories[category] -%}
      {%- capture _title -%}
        <a href="{{ site.baseurl }}{{ post.url }}">{{- post.title -}}</a>
      {%- endcapture -%}
      {%- capture _subtitle -%}
        {% if post.author -%}{{- post.author }} | {% endif %}
        {{- post.date | date_to_long_string -}}
      {%- endcapture -%}
      {%- capture _excerpt -%}<p>{{- post.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
      {%- capture _link -%}<a href="{{- post.url | absolute_url -}}">read more</a>{%- endcapture -%}
      {%- assign _content = _excerpt | append: _link -%}
      {%- include section.html title=_title subtitle=_subtitle content=_content -%}
    {%- endfor -%}
  </div>
  
</ul>